{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smart Study Planner</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<header class="topbar">
  <div class="topbar-left">
    <span class="logo">📘 Smart Study Planner</span>
  </div>

  <nav class="topbar-right">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'add_task' %}" class="btn-primary">+ Add Task</a>
    <a href="{% url 'logout' %}" style="color:#dc2626;font-weight:600;">Logout</a>
  </nav>
</header>

<main class="main-container">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  © 2026 Smart Study Planner. Built by Varun.
</footer>

</body>
</html>
